
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Üst Menu Başlangıç -->
    <!-- Üst Menu Son -->
    <!-- Yan Menu Başlangıç -->
    <!-- Yan Menu Son -->
    <!-- Body Render Start -->
    @RenderBody()
    <!-- Body Render Finish -->
    <!-- Footter Start-->
    <!-- Footer Finish-->

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
